.table_container{
    height:300px;
    overflow: auto;
}

table{
    width: 100%;
    margin-top: 20px;
    text-align: center;

}

th, td {
    font-size: 12px;
    padding: 10px 5px;
}

th{
    background-color: #1e272e;
    color: white;
    padding: 5px;
}

tr:nth-child(even){
    background-color: #bbbbbb;
}

tr:nth-child(odd){
    background-color: #dddddd;
}